* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Login page */
.bg {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
}

.bg2 {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.Title {
  font-size: 55px;
  font-family: Tangerine;
}

.container-form {
  width: 40%;
  margin-top: -15px;
  padding-left: 110px;
}

.login-form {
  font-family: junge;
  width: 90%;
}

.name {
  color: grey;
  font-style: italic;
  font-size: 18px;
  font-family: judson;
}

.FG {
  position: fixed;
  opacity: 70%;
  font-size: 14px;
  font-family: judson;
  font-style: italic;
}

.FG:hover {
  opacity: 100%;
}

.login-input {
  background-color: rgb(0, 0, 0);
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.626));
}

.login-label {
  width: 90%;
}

.login-form p {
  margin: 10px 0 10px 0;
}

.login-form h1 {
  font-size: 50px;
}

.button1 {
  width: 100%;
  padding: 10px 0 10px 0;
  border-radius: 15px;
  background: transparent;
  font-size: 17px;
  font-family: julius;
}

.button1:hover {
  background-color: rgba(247, 210, 98, 0.456);
}

.container-divider {
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}

.or {
  height: 12px;
  font-family: judson;
  font-style: italic;
}

.divider {
  width: 100%;
  height: 1.5px;
  background: #000;
}

.bt {
  border: 0px;
  border-color: transparent;
  background-color: transparent;
  margin-top: 7px;
}

/* Register page */
.img1 {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
}

.img2 {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.reg {
  color: grey;
  font-style: italic;
  font-size: 18px;
  font-family: judson;
}

.register-label {
  width: 90%;
}

.register-form {
  margin: 10px 0 10px 0;
  font-family: junge;
}

.register-form h1 {
  font-size: 50px;
}

.BT-form {
  width: 100%;
  padding: 10px 0 10px 0;
  border-radius: 15px;
  background: transparent;
  font-size: 17px;
  font-family: julius;
}

.BT-form:hover {
  background-color: rgba(247, 210, 98, 0.456);
}

.register-input {
  background-color: rgb(0, 0, 0);
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.626));
}

.register-form h1 {
  padding-left: 100px;
}

/* Home Page */
.home {
  position: relative;
  background-size: cover;
  background-image: url(photo/TMR1.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 0;
}

.fade {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  width: 100%;
  bottom: 0;
}

/* .slide1 {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  display: flex;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
} */

.Menu1 {
}

.makanan {
}
